<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spsh.spshhealthcare">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/spsh_health_care_logo_with_background"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/spsh_health_care_logo_with_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPSHHealthCare"
        tools:targetApi="31">
        <activity
            android:name=".Patient_Report"
            android:exported="false" />
        <activity
            android:name=".Pharmacist_view_allPharmacy_items"
            android:exported="false" />
        <activity
            android:name=".Pharmacist_view_page"
            android:exported="false" />
        <activity
            android:name=".pharmacist_search_page"
            android:exported="false" />
        <activity
            android:name=".Pharmacist_update_page"
            android:exported="false" />
        <activity
            android:name=".Pharmacist_addItem_page"
            android:exported="false" />
        <activity
            android:name=".Pharmacist_home_page"
            android:exported="false" />
        <activity
            android:name=".Search_Doc"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Doc_Profile"
            android:exported="false" />
        <activity
            android:name=".Available_DOC"
            android:exported="false" />
        <activity
            android:name=".ADD_DOC"
            android:exported="false" />
        <activity
            android:name=".Doc_Home"
            android:exported="false" />
        <activity
            android:name=".Patient_Update"
            android:exported="false" />
        <activity
            android:name=".Patient_View_Single"
            android:exported="false" />
        <activity
            android:name=".Patient_Add"
            android:exported="false" />
        <activity
            android:name=".Patient_All_Appointments"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" /> <!-- Gets rid of keyboard -->
        <activity
            android:name=".Patient_Home"
            android:exported="false" />
        <activity
            android:name=".ViewAllReports"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewReport"
            android:exported="false" />
        <activity
            android:name=".UpdateReport"
            android:exported="false" />
        <activity
            android:name=".AddReport"
            android:exported="false" />
        <activity
            android:name=".LabHome"
            android:exported="false" />
        <activity
            android:name=".PatientSignup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>